.caja1{
	height: 100px;
	background-color: #FFFF00;
	border:2px solid black;
}
.caja2{
	height: 100px;
	background-color: #AFFF00;
	border:2px solid black;
}
.caja3{
	height: 100px;
	background-color: #1EE2A6;
	border:2px solid black;
}
.caja4{
	height: 100px;
	background-color: #01B6AD;
	border:2px solid black;
}
.caja5{
	height: 100px;
	background-color: #9C42D1;
	border:2px solid black;
}
.caja6{
	height: 100px;
	background-color: #D126A9;
	border:2px solid black;
}
